*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#05070d;
    color:white;
    font-family:'Inter',sans-serif;
    overflow:hidden;
    height:100vh;
}

/* Animated grid */

#background-grid{

    position:fixed;
    inset:0;

    background:

        linear-gradient(rgba(0,255,255,.05) 1px, transparent 1px),

        linear-gradient(90deg, rgba(0,255,255,.05) 1px, transparent 1px);

    background-size:40px 40px;

    animation:gridMove 12s linear infinite;

    z-index:-2;

}

/* Glow */

body::before{

content:"";

position:fixed;

inset:0;

background:radial-gradient(circle at center,
rgba(0,255,255,.15),
transparent 70%);

filter:blur(80px);

z-index:-1;

}

@keyframes gridMove{

0%{
transform:translateY(0px);
}

100%{
transform:translateY(40px);
}

}

#boot{

height:100vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

text-align:center;

padding:30px;

}

.logo{

font-family:'Orbitron',sans-serif;

font-size:92px;

letter-spacing:12px;

color:#6cf8ff;

text-shadow:
0 0 20px #00ffff,
0 0 40px #00ffff;

margin-bottom:20px;

}

.subtitle{

font-size:18px;

color:#9fb8c8;

margin-bottom:60px;

max-width:700px;

}

.loading-box{

width:650px;

max-width:90%;

}

.loading-text{

margin-bottom:15px;

font-size:18px;

color:#6cf8ff;

letter-spacing:2px;

}

.progress{

height:14px;

background:#121826;

border-radius:100px;

overflow:hidden;

border:1px solid rgba(0,255,255,.2);

}

.progress-bar{

height:100%;

width:0%;

background:linear-gradient(
90deg,
#00d4ff,
#65f9ff);

box-shadow:

0 0 20px cyan;

transition:width .4s ease;

}
